<div class="page-header">
  <h3>{{post.post.title}}</h3>
  <span class="label label-info">
      <span class="glyphicon glyphicon-calendar"></span>
  {{post.post.post_time}}</span>
  <!-- Small modal -->
    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target=".confirm">
        <span class="glyphicon glyphicon-remove"></span> 删除此文章</button>
    <div class="modal fade confirm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">确认删除</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="passcode">骚年，你的口令是：</label>
                <div>
                    <textarea class="form-control" id="passcode" ng-model="post.passcode"></textarea>
                </div>
              </div>
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary"
                ng-disabled="!post.passcode"
                ng-click="post.removePost(post.post.id, post.passcode)">
                确认</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  <p>
      <hr>
  <div ng-bind-html="post.post.content" class="content">
  </div>
</div>
